@use "sass:color";
$primary-color: #cbb7ff;
$secondary-color: #f8f6ff;
$text-color: #333;
$light-gray: #f4f4f4;
$white: #fff;
$dark-gray: #666;
$dark: black;

/* Mixins */
@mixin hover-bg($color) {
    transition: background-color 0.3s;

    &:hover {
        background-color: color.adjust($color, $lightness: -10%);
    }
}

@mixin hover-box-shadow($color) {
    transition: box-shadow 0.3s, transform 0.3s ease;

    &:hover {
        box-shadow: 0 2px 5px $color;
        transform: scale(1.05);
    }
}

/* Breakpoint Mixins */


@mixin tablet {
    @media screen and (min-width: 769px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1025px) {
        @content;
    }
}

/* General Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: $text-color;
    background-color: $light-gray;
}

.container {
    width: 90%;
    height: 100%;
}

.alert {
    padding: 1rem;
    background-color: $dark;
    color: white;
    text-align: center;

    mark {
        background-color: $primary-color;
        border-radius: 35%;
        padding: 0.5rem;
    }

    a {
        color: $white;
    }
}

.closebtn {
    margin-left: 1rem;
    color: white;
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: $primary-color;
    }
}

/* Header & Navigation */
.main-header {
    display: none;
    background-color: $secondary-color;
    color: $dark-gray;
    width: 100%;
    z-index: 100;
    position: sticky;
    top: 0;

    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 1rem 2rem;

        &__logo {
            font-size: 1.5rem;
            font-weight: bold;
            color: $dark-gray;
            display: flex;
            align-items: center;
            text-decoration: none;

            img {
                width: 2rem;
                margin-right: 0.8rem;
            }
        }

        &__items {
            display: flex;
            list-style: none;
        }

        &__item {
            margin-left: 1rem;

            a {
                font-size: 1.2rem;
                text-decoration: none;
                color: $dark-gray;
                padding: 0.6rem 1rem;
                transition: color 0.3s;

                &:hover {
                    color: $primary-color;
                }
            }

            &--cta {
                text-decoration: none;
                @include hover-bg($primary-color);
                background-color: $dark;
                color: $white;
                padding: 0.6rem 1.2rem;
                border-radius: 5px;
            }
        }
    }
}

.mobile-header {
    background-color: $secondary-color;
    color: $dark-gray;
    width: 100%;
    z-index: 100;
    position: sticky;
    top: 0;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;

    &__toggle {
        font-size: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 200; // Ensure the toggle button is on top
    }

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: $dark-gray;
        display: flex;
        align-items: center;
        text-decoration: none;

        img {
            width: 2rem;
            margin-right: 0.8rem;
        }
    }

    &__items {
        left: -100%; // Initially hide off the left side
        width: 70%; // Set width to 70% of the screen
        list-style: none;
        position: fixed;
        top: 0;
        height: 100%;
        background-color: $secondary-color;
        padding: 2rem 1rem;
        transition: left 0.3s ease-in-out; // Smooth slide transition
        z-index: 150;
    }

    &__item {
        margin-bottom: 1rem;

        a {
            font-size: 1.2rem;
            text-decoration: none;
            color: $dark-gray;
            padding: 0.6rem 1rem;
            transition: color 0.3s;

            &:hover {
                color: $primary-color;
            }
        }

        .mobile-nav__item--cta {
            text-decoration: none;
            @include hover-bg($primary-color);
            background-color: $dark;
            color: $white;
            padding: 0.6rem 1.2rem;
            border-radius: 5px;
        }
    }

    // Show menu when active
    &--active .mobile-nav__items {
        left: 0;
    }

    &--active~.mobile-nav-overlay {
        display: block; // Show the overlay when the nav is active
    }
}

// Overlay Style
.mobile-nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black
    z-index: 99; // Ensure it's below the mobile nav but above other content
    display: none; // Hidden by default
}


/* Hero Section */
#product-overview {
    background-image: radial-gradient(circle at 50% 0, $secondary-color 60%, $primary-color 100%);
    text-align: center;
    padding: 5rem 2rem;

    h1 {
        font-size: 3rem;
        color: $dark-gray;
    }

    p {
        font-size: 1.2rem;
        color: $dark-gray;
        margin: 1.5rem auto;
        max-width: 30rem;
    }

    .product-overview__item--cta {
        color: $white;
        @include hover-bg($primary-color);
        background-color: $primary-color;
        padding: 1rem 2rem;
        text-decoration: none;
        border-radius: 5px;
    }
}

/* Plans Section */
#plans {
    padding: 0 2rem;
    background-color: $secondary-color;

    .swiper {
        width: 100%;
        height: 100%;
        padding: 2rem 0;

        .swiper-wrapper {
            mask-image: linear-gradient(center, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%);
            display: flex;

            .swiper-slide {
                height: 30rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1.2rem;
                background-color: $white;
                border: 1px solid $white;
                border-radius: 10px;

                @include hover-box-shadow($primary-color);

                img {
                    max-width: 100%;
                    border-radius: 10px;
                    margin-bottom: 1rem;
                }

                .plan__title {
                    font-size: 1.5em;
                    margin: 0.8rem 0;
                    color: $text-color;
                }

                p {
                    font-size: 1rem;
                    color: $dark-gray;
                    text-align: center;
                }

                /* Inactive slide opacity */
                opacity: 0.60;
                transition: opacity 0.5s ease;
                /* Smooth transition for opacity change */
            }

            /* Fully visible slides */
            .swiper-slide-visible {
                opacity: 1 !important;
            }

            /* Specifically target active slide */
            .swiper-slide-active {
                opacity: 1 !important;
            }
        }

        .plan-nav {
            display: flex;
            width: auto; // Allow buttons to be positioned closer together
            margin: 0 auto;
            height: 5rem; // Adjust height as needed
            justify-content: center; // Center both buttons horizontally
            align-items: center;
            gap: 1rem; // Reduce the gap between buttons for closer positioning

            .swiper-button-next,
            .swiper-button-prev {
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                background-color: transparent;
                cursor: pointer;
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.1); // Slight enlargement on hover
                }

                img {
                    width: 1.5rem; // Size of the arrow icons
                    height: 1.5rem;
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                position: relative;
            }

            .swiper-button-next:after,
            .swiper-button-prev:after {
                display: none; // Remove default swiper button arrows
            }
        }

        .swiper-pagination {
            text-align: center;
            margin: 0 auto;
            width: 100%;
            height: 6rem;
        }

        .swiper-pagination-bullet {
            width: 2rem;
            height: 0.3rem;
            border-radius: 10px;
            background-color: $dark-gray;
            position: relative;
            overflow: hidden;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $primary-color;
                transform: scaleX(0); // Initially, no progress
                transform-origin: left;
                transition: transform 2s linear; // Control animation speed (matches autoplay delay)
            }
        }

        .swiper-pagination-bullet-active::before {
            transform: scaleX(1); // Fill the bullet progressively when active
        }
    }
}

/* Partnerships Section */
#partnerships {
    text-align: center;
    padding: 2rem;
    background-color: $secondary-color;

    p {
        font-size: 1.2rem;
        color: $dark-gray;
        padding: 1rem;
    }
}

/* Key Features Section */
#key-features {
    background-color: $white;
    padding: 4rem 2rem;
    text-align: center;

    .key-features__title {
        max-width: 40rem;
        margin: 0 auto;

        h2 {
            font-size: 2.5rem;
            color: $dark-gray;
        }

        p {
            font-size: 1.2rem;
            color: $dark-gray;
        }
    }

    .key-features__logo {
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem; // Adds space between the logo and the background
        object-fit: contain;

    }

    .key-features__items {
        margin-top: 1rem;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;

        .key-features__item {
            align-items: center;
            padding: 3rem;
            display: flex;
            justify-content: normal;
            gap: 1rem;
            padding: 1rem;

            img {
                background-color: $primary-color;
            }

            a {
                text-decoration: none;
                color: $dark-gray;
                font-weight: 600;
                transition: color 0.3s ease;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

.key-feature__grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;


    .key-feature__detail {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $secondary-color;
        border-radius: 10px;
        padding: 2rem;
        transition: transform 0.3s, box-shadow 0.3s;
        gap: 1rem;

        &:hover {
            transform: translateY(-5px);
            @include hover-box-shadow($primary-color);
        }

        h3 {
            display: flex;
            align-items: center; // Vertically centers the image and text
            justify-content: left; // Horizontally centers the content
            gap: 0.5rem; // Adds space between the image and text
            font-size: 1rem;
            color: $dark-gray;
            padding: 1rem 0;
            border-bottom: 1px solid color.adjust($primary-color, $lightness: 5%);

            img {
                background-color: $white;
                width: 1rem;
                height: 1rem;
                object-fit: contain; // Ensures the image fits without distortion
            }
        }

        p {
            font-size: 1rem;
            color: $dark-gray;
            text-align: left;
        }

        figure {
            margin: 0;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }
    }

    .div1,
    .div2,
    .div3,
    .div4,
    .div5 {
        width: 100%;
        display: flex;
        justify-content: center;
    }


}

#documentation {
    .documentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 2rem;
        background-color: $secondary-color;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .section-title {
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            max-width: 35rem;
            margin: 1rem 0;
            color: #333;
        }

        p {
            text-align: center;
            font-size: 1rem;
            color: #666;
            max-width: 30rem;
            margin-bottom: 2rem;
        }

        .documentation__items {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            flex-direction: column;
            align-items: center;

            .documentation__item {
                flex: 1 1 100%;
                width: 100%;
                max-width: 100%;

                .documentation-card {
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    border: 1px solid $dark-gray;
                    border-radius: 8px;
                    padding: 1rem;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 2px 5px $primary-color;
                    }

                    .section-sub-title {
                        padding: 1rem;
                        font-size: 1rem;
                        font-weight: bold;
                        margin-bottom: 0.5rem;
                        color: #333;
                        padding: 1rem;
                        border-bottom: 1px solid color.adjust($primary-color, $lightness: 5%);
                    }

                    p {
                        text-align: left;
                        font-size: 1rem;
                        color: #666;
                    }
                }
            }
        }

        .documentation-card--cta {
            display: inline-block;
            margin-top: 2rem;
            padding: 0.75rem 1.5rem;
            background-color: black;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s;

            &:hover {
                background-color: $primary-color;
            }
        }
    }
}




#customers {
    text-align: center;
    padding: 3rem 2rem;
    background-color: $white;

    .section-title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        max-width: 30rem;
        margin: 1rem auto;
        color: #333;
    }

    p {
        text-align: center;
        font-size: 1.2rem;
        color: $dark-gray;
        padding: 1rem;
    }
}

/* Tab Component */
.tab {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid $dark-gray;
    overflow: auto;
    white-space: nowrap;

    button {
        background-color: $white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid $primary-color;
        }

        &.active {
            border-bottom: 2px solid $primary-color;
        }
    }
}

.tabcontent {
    display: block;

    &.active {
        display: block;
    }
}

.customers {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    padding: unset; // Added padding for consistent spacing

    // Left side: Video section
    .testimonial-video {
        padding: 0; // Consistent padding

        video {
            width: 100%;
            height: 100%; // Ensures responsive height
            border-radius: 1rem;
        }
    }

    // Right side: Testimonial section
    .testimonial {
        grid-column: 2;
        margin: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.8rem;

        .logo-stars-container {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .company-logo {
                font-size: 1.2rem;
                font-weight: bold;
                color: $dark-gray;
                display: flex;
                align-items: center;

                img {
                    width: 3rem;
                    height: auto;
                }
            }

            .stars {
                display: flex;
                align-items: center;
                fill: $primary-color;

                img {
                    fill: $primary-color;
                    width: 1rem;
                    height: auto;
                }
            }
        }

        .quote {
            font-size: 1rem;
            font-style: italic;
        }

        .person {
            display: flex;
            flex-direction: column; // Stack the author and title for better alignment
            align-items: center;
            justify-content: space-around;

            .author {
                font-weight: bold;
                font-size: 1.2rem;
            }

            .title {
                color: $dark-gray;
                font-size: 1.2rem;
            }
        }
    }
}

#bottom-ads {
    background-image:
        radial-gradient(circle at 50% -100%, $primary-color 90%, $secondary-color 100%);
    text-align: center;
    padding: 5rem 2rem;


    h2 {
        font-size: 2rem;
        color: $white;
    }


    p {
        font-size: 1rem;
        color: $dark-gray;
        margin: 1.5rem auto;
        max-width: 30rem;
    }

    .bottom-ads--cta {
        color: $dark;
        @include hover-bg($primary-color);
        background-color: $secondary-color;
        padding: 1rem 2rem;
        text-decoration: none;
        border-radius: 5px;
    }
}

/* Footer */
.footer {
    background-color: $dark-gray;
    color: $white;
    padding: 1rem 2rem;
    text-align: center;

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: $white;
        display: flex;
        align-items: center;
        text-decoration: none;

        img {
            width: 2rem;
            margin-right: 0.8rem;
        }
    }

    .footer-row {
        text-align: left;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;

        .footer-col .links {
            display: none; // Hide all links by default on mobile
        }

        .footer-col.active .links {
            display: block; // Show links when the section is active
        }

        .footer-col {
            margin-bottom: 20px;

            h4 {
                margin-bottom: 10px;
                font-size: 1.2rem;
                cursor: pointer; // Allow clicking for accordion
            }

            .links {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 10px;

                    a {
                        color: color.adjust($white, $lightness: 20%);
                        text-decoration: none;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }



    .footer-bottom {
        width: 100%;
        border-top: 1px solid color.adjust($white, $lightness: -40%);
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;

        p {
            margin: 0;
            font-size: 0.9rem;
        }

        .footer-bottom_icon {
            margin-top: 10px;
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;

            li {
                margin-right: 10px;

                a img {
                    width: 1.2rem;
                    transition: opacity 0.3s;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}


/* Tablet Styles */
@include tablet {

    /* Footer adjustments */
    .footer-row {
        flex-direction: row;
    }

    .footer-col {
        flex: 1;
    }

    /* Show the main header and hide the mobile header */
    .main-header {
        display: block;
    }

    .mobile-header {
        display: none;
    }

    /* Adjust padding for product overview */
    #product-overview {
        padding: 8rem 2rem;

        h1 {
            font-size: 4rem;
        }

        p {
            font-size: 1.1rem;
        }
    }

    /* Key features section */

    /* Documentation section */
    .documentation__items {
        flex-direction: row;
        justify-content: space-between;

        .documentation__item {
            flex: 1 1 45%;
            margin: 1rem 0;
        }
    }

    /* Customers section */
    .customers {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Bottom ads */
    #bottom-ads {
        padding: 3rem;
    }
}

/* Desktop Styles */
@include desktop {

    /* Footer layout */
    .footer {
        .footer-row {
            flex-direction: row;

            .footer-col .links {
                display: unset;
            }
        }
    }

    /* Show the main header and hide the mobile header */
    .main-header {
        display: block;
    }

    .mobile-header {
        display: none;
    }

    /* Adjust padding for product overview */
    #product-overview {
        padding: 10rem 5rem;

        h1 {
            font-size: 5rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    /* Key features section */
    #key-features {
        .key-features__items {
            flex-direction: row;
            padding: 4rem;
            gap: 2rem;

            .key-features__item {
                align-items: center;
                padding: 3rem;
                display: flex;
                justify-content: normal;
                gap: 1rem;
                padding: 1rem;
            }
        }
    }

    .key-feature__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;

        .div1,
        .div2 {
            grid-column: span 3;
        }

        .div3,
        .div4,
        .div5 {
            grid-column: span 2;
        }

    }

    /* Documentation section */
    #documentation {
        .documentation {
            .documentation__items {
                flex-direction: row;

                .documentation__item {
                    flex: 1 1 calc(33.333% - 1rem);
                    max-width: calc(33.333% - 1rem);

                    .documentation-card {
                        width: 100%;
                    }
                }
            }
        }
    }

    /* Customers section */
    #customers {
        flex-direction: row;
        justify-content: space-between;
    }

    .customers {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .testimonial-video {
            grid-column: 1;
        }

        .testimonial {
            grid-column: 2;

            .logo-stars-container {

                .company-logo {
                    font-size: 3rem;

                    img {
                        width: 5rem;
                    }
                }

                .stars {
                    img {
                        width: 3rem;
                        height: auto;
                    }
                }
            }

            .quote {
                font-size: 1.5rem;
            }

            .person {
                flex-direction: row;

                .author {
                    font-weight: bold;
                    font-size: 1.2rem;
                }

                .title {
                    color: $dark-gray;
                    font-size: 1.2rem;
                }
            }
        }
    }

    /* Bottom ads */
    #bottom-ads {
        padding: 4rem;

        h2 {
            max-width: 40rem;
            margin: 0 auto;
        }
    }
}